<div class="container">
    <div class="py-5 text-center">
        <h1>Modificación Solicitud</h1>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="antecedentes">Antecedentes</label>
                    <input type="text" class="form-control" id="antecedentes">
                </div>
                <div class="mb-3">
                    <label for="vigencia">Vigencia</label>
                    <input type="text" class="form-control" id="vigencia">
                </div>
                <div class="mb-3">
                    <label for="objeto">Objeto</label>
                    <input type="text" class="form-control" id="objeto">
                </div>
                <div class="mb-3">
                    <label for="contraprestacion">Contraprestacion</label>
                    <input type="text" class="form-control" id="contraprestacion">
                </div>
                <div class="form-group">
                    <label for="comentarios">Comentarios</label>
                    <textarea class="form-control" id="comentarios" rows="3" readonly></textarea>
                </div>
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                <br>
                <button class="btn btn-danger btn-lg btn-block" type="submit">Cancelacion</button>
                <hr class="mb-4">
                <div class="card">
                    <div class="card-header">
                        Estatus de contrato
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary" role="alert">
                            Estatus de contrato
                          </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>

</div>
