<div class="container">
    <div class="py-5 text-center">
        <h1>Solicitud de Instrumentación Jurídica Estandarizada</h1>
        <h2>Revisión legal</h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre_apoderado_legal">Nombre Rep/Apoderado legal</label>
                        <input readonly type="text" class="form-control"  value={{nombre_apoderado_legal}} id="nombre_apoderado_legal" name="nombre_apoderado_legal">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nombre_contraparte_juridica">Nombre contraparte juridica</label>
                        <input readonly type="text" class="form-control" id="nombre_contraparte_juridica" value={{nombre_contraparte_juridica}} name="nombre_contraparte_juridica">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="antecedentes">Antecedentes</label>
                        <input readonly type="text" class="form-control" id="antecedentes" value={{antecedentes}} name="antecedentes">
                    </div>

                </div>

                <div class="mb-3">
                    <label for="vigencia">Vigencia</label>
                    <input readonly type="text" class="form-control" id="vigencia" value={{vigencia}} name="vigencia">
                </div>
                <div class="mb-3">
                    <label for="objeto">Objeto</label>
                    <input readonly type="text" class="form-control" id="objeto" value={{objeto}} name="objeto">
                </div>
                <div class="mb-3">
                    <label for="contraprestacion">Contraprestacion</label>
                    <input readonly type="text" class="form-control" id="contraprestacion" value={{contraprestacion}} name="contraprestacion">
                </div>
                <div class="mb-3">
                    <label for="comentarios">Comantario</label>
                    <textarea type="text" class="form-control" id="comentarios" [(ngModel)]="comentarioRevLegal" name="comentarios" ></textarea>
                </div>
                <br>
                <div class="row">
                    <div class="col-8">
                        <button class="btn btn-success btn-lg btn-block" (click)="procesarSolicitud()"
                            type="submit">Enviar a generar contarto</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger btn-lg btn-block" (click)="modificarSolicitud()" type="submit">Enviar a revision contraro</button>
                    </div>
                </div>
                <br>
                <hr class="mb-4">

                <div class="card">
                    <div class="card-header">
                        Estatus de contrato
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary" role="alert">
                            Estatus de contrato
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>