<div class="container">
    <div class="py-5 text-center">
        <h1>Inicio Proceso Contratos</h1>   
        


    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>
                <div class="mb-3">
                    <!-- <label for="email">Email <span class="text-muted">(Optional)</span></label> -->
                    <label for="text">Empresa</label>
                    <input readonly type="text" class="form-control" id="empresa">
                    <!-- <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div> -->
                </div>
                <div class="mb-3">
                    <label for="text">Area Solicitante</label>
                    <input readonly type="text" class="form-control" id="area_solicitante">
                </div>

                <div class="mb-3">
                    <label for="nombre_solicitante">Nombre Solicitante</label>
                    <input readonly type="text" class="form-control" id="nombre_solicitante">
                </div>

                <div class="mb-3">
                    <label for="objeto">Objeto</label>
                    <input readonly type="text" class="form-control" id="objeto">
                </div>
                <div class="mb-3">
                    <label for="contraprestacion">Contraprestacion</label>
                    <input readonly type="text" class="form-control" id="contraprestacion">
                </div>
                <div class="mb-3">
                    <label for="comentarios">Comantario</label>
                    <textarea type="text" class="form-control" id="comentarios"></textarea>
                </div>

                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                <hr class="mb-4">


                <div class="card">
                    <div class="card-header">
                        Estatus de contrato
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary" role="alert">
                            Estatus de contrato
                          </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>

</div>

