<div class="container">
    <div class="py-5 text-center">
        <h1>Generar contrato</h1>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>

                <div class="mb-3">
                    <label for="nombre_responsable">Nombre Responsable Area</label>
                    <input readonly type="text" class="form-control" id="nombre_responsable"  >
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre_contraparte">Nombre contraparte juridica</label>
                        <input readonly type="text" class="form-control" id="nombre_contraparte">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rfc_contraparte">RFC contraparte juridica</label>
                        <input readonly type="text" class="form-control" id="rfc_contraparte">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="domicilio_contraparte">Domicilio contraparte</label>
                        <input readonly type="text" class="form-control" id="domicilio_contraparte">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="representante_legal">Nombre Rep/Apoderado legal</label>
                    <input readonly type="text" class="form-control" id="representante_legal">
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="antecedentes">Antecedentes</label>
                        <input readonly type="text" class="form-control" id="antecedentes">
                    </div>

                </div>

                <div class="mb-3">
                    <label for="tipo_instrumento">Tipo de instrumento</label>
                    <input readonly type="text" class="form-control" id="tipo_instrumento">
                </div>

                <div class="mb-3">
                    <label for="vigencia">Vigencia</label>
                    <input readonly type="text" class="form-control" id="vigencia">
                </div>
                <div class="mb-3">
                    <label for="objeto">Objeto</label>
                    <input readonly type="text" class="form-control" id="objeto">
                </div>
                <div class="mb-3">
                    <label for="contraprestacion">Contraprestacion</label>
                    <input readonly type="text" class="form-control" id="contraprestacion">
                </div>

                <br>
                <button class="btn btn-success btn-lg btn-block" type="submit">Continue to checkout</button>
                <hr class="mb-4">

                <div class="card">
                    <div class="card-header">
                        Estatus de contrato
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary" role="alert">
                            Estatus de contrato
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>

</div>