<div class="container">
    <div class="py-5 text-center">
        <h1>Inicio Proceso Contratos</h1>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form [formGroup]="contactForm" class="needs-validation" (ngSubmit)="crearContrato()">
                <div class="mb-3">
                    <label for="text">Empresa</label>
                    <input formControlName="empresa" type="text" class="form-control" id="empresa" name="empresa" >
                </div>
                <div class="mb-3">
                    <label for="text">Area Solicitante</label>
                    <input formControlName="empresa" type="text"  class="form-control" id="area_solicitante"
                        name="area_solicitante">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre_solicitante">Nombre Solicitante</label>
                        <input formControlName="area_solicitante" type="text" class="form-control" id="area_solicitante" name="area_solicitante" >
                        <!-- <div class="invalid-feedback">
                            Valid first name is required.
                        </div> -->
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nombre_responsable">Nombre Responsable Area</label>
                        <input formControlName="nombre_responsable_area" type="text" class="form-control" id="nombre_responsable_area" name="nombre_responsable_area" >
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="representante_legal">Nombre Rep/Apoderado legal</label>
                        <input formControlName="nombre_apoderado_legal" type="text" class="form-control" id="nombre_apoderado_legal" name="nombre_apoderado_legal" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nombre_contraparte">Nombre contraparte juridica</label>
                        <input formControlName="nombre_contraparte_juridica" type="text" class="form-control" id="nombre_contraparte_juridica" name="nombre_contraparte_juridica" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rfc_contraparte">RFC contraparte juridica</label>
                        <input formControlName="rfc_contraparte" type="text" class="form-control" id="rfc_contraparte" name="rfc_contraparte" >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="domicilio_contraparte">Domicilio contraparte</label>
                        <input formControlName="domicilio_contraparte" type="text" class="form-control" id="domicilio_contraparte" name="domicilio_contraparte" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="antecedentes">Antecedentes</label>
                        <input formControlName="antecedentes" type="text" class="form-control" id="antecedentes" name="antecedentes" >
                    </div>

                </div>

                <div class="mb-3">
                    <label for="tipo_instrumento">Tipo de instrumento</label>
                    <input formControlName="tipo_instrumento" type="text" class="form-control" id="tipo_instrumento" name="tipo_instrumento" >
                </div>

                <div class="mb-3">
                    <label for="vigencia">Vigencia</label>
                    <input formControlName="vigencia" type="text" class="form-control" id="vigencia" name="vigencia" >
                </div>
                <div class="mb-3">
                    <label for="objeto">Objeto</label>
                    <input formControlName="objeto" type="text" class="form-control" id="objeto" name="objeto" >
                </div>
                <div class="mb-3">
                    <label for="contraprestacion">Contraprestacion</label>
                    <input formControlName="contraprestacion" type="text" class="form-control" id="contraprestacion" name="contraprestacion" >
                </div>

                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Continue to checkout</button>
                <hr class="mb-4">
            </form>
        </div>
    </div>

</div>